body {
	display: flex;
	justify-content: center;
}
.page {
	display: grid;
	width: 75%;
	height: 2000px;
	background-color: rgb(226, 217, 217, 0.18);;
	grid-template-columns: 10% 80% 10%;
	
}

.testGradientContainer {
	width: 95%;
	height: 5vh;
	background: linear-gradient(55deg, #a7ff01, #faff00,#ffc603);
	grid-column-start: 2
}