body {
	display: flex;
	justify-content: center;
background-color: rgba(229, 250, 25,0.15);
	
}
.page {
	display: grid;
	width: 90%;
	height: 2000px;
	background-color: rgba(226, 217, 217, 0.18);;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 4% 5% 10% 50% 30% 40%;
	
}
.theLOGO {
	max-width: 75px;
	max-height: 50px;
}
.theHeader {
	display: flex;
	flex-direction: row;
	width: 95%;
	max-height: 9vh;
	background: linear-gradient(55deg, #a7ff01, #faff00,#ffc603);
	grid-column-start: 2;
	grid-row-start: 1;
	align-items: center;
	justify-content: space-around;
}


#TechnologyButton {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 20px;
}
#TechnologyButton:hover {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 26px;
}
#WarButton {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 20px;
}

#SportButton{
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 20px;
}

#BLogsButton {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 20px;
}

#WarButton:hover {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 26px;
}

#SportButton:hover{
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 26px;
}

#BLogsButton:hover {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 26px;
}
.HotTechnologies {
	grid-column-start: 2;
	grid-row-start: 3;
	font-family: cursive, Courier, fantasy, arial;
}
@media screen and (max-width: 508px) {
#TechnologyButton {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 14px;
}
#TechnologyButton:hover {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 16px;
}
#WarButton {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 14px;
}

#SportButton{
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 14px;
}

#BLogsButton {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 14px;
}

#WarButton:hover {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 16px;
}

#SportButton:hover{
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 16px;
}

#BLogsButton:hover {
text-decoration: none;
color: rgb(45, 71, 35);
font-weight: bold;
font-size: 16px;
}
}

.LK {
	grid-row-start:1;
	grid-column-start: 3;
	max-width: 65px;
	max-height: 9vh;
}

#lay {
    display: flex;
    border: 4px grey solid;
    max-width: 800px;
    height: 125px;
    flex-direction: row;
    margin-top: 25px;
    background-color: rgba(226, 217, 217, 0.18);
    font-size: 20px;
}


#lay:hover {
    display: flex;
    border: 5px black solid;
    max-width: 800px;
    height: 125px;
    flex-direction: row;
    margin-top: 25px;
    background-color: rgba(226, 217, 217, 0.18);
    font-size: 20px;
}

#information {
    align-self: center;
    margin-left: 5%;
    color: black;
}